/* .large-size-inventory {
  background-color: #121212;
  position: absolute;
  top: 50%;
  width: 100%;
}
.list-container2 {
  display: flex;
  flex-direction: column;
  grid-template-rows: repeat(auto-fill, minmax(50px, auto));
  flex-wrap: wrap;
  justify-items: flex-start;
  align-items: flex-start;
  margin: 0px auto;
  padding: 0 0rem;
  height: 90vh;
  letter-spacing: 1.5px;
  position: relative;
  width: 100%;
  height: calc(50vh - 90px);
  overflow-y: scroll;
}
.delete-button-form {
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(253, 34, 34);
  color: white;
  font-weight: bold;
  width: 28px;
  height: 28px;
  max-width: 28px;
  max-height: 28px;
  min-width: 28px;
  min-height: 28px;
  border-radius: 50%;
  border: 3px solid rgb(165, 167, 197);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: block;
  padding: 0px;
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
} */
